In [41]:
import pandas as pd

In [42]:
#Read in vine_table csv as a dataframe
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R14LVB34Z2Z53I,5.0,0.0,0.0,N,Y
1,R2M0R9CWPC82LT,5.0,0.0,0.0,N,Y
2,RQNQI2R3BM52A,4.0,0.0,0.0,N,Y
3,RTUIX1135HUAB,5.0,0.0,0.0,N,Y
4,RE3QSAT8TL010,4.0,0.0,0.0,N,Y

In [43]:
# FIlter and create a new DataFrame to retrieve all the rows where total vote count is >20
total_votes_df = vine_df.loc[vine_df["total_votes"] >= 20, :]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
6081,R3F4225VTUO2WE,1.0,8.0,33.0,N,N
8753,R3ADPNURCCTK,1.0,1.0,39.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y

In [44]:
# Filter the new df and create a new df to retrieve all rows where # of helpful_votes / by total_votes is >=50%
vote_ratio = (total_votes_df["helpful_votes"])/(total_votes_df["total_votes"])
helpful_df = total_votes_df.loc[vote_ratio > 0.5, :]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
9508,R23E4EIJXID5IC,5.0,43.0,43.0,N,N
10064,R1WFSWDT8L5RSJ,4.0,23.0,26.0,N,N

In [60]:
helpful_df.count()

review_id            4469
star_rating          4469
helpful_votes        4469
total_votes          4469
vine                 4469
verified_purchase    4469
dtype: int64

In [45]:
# Filter helpful_df to retrieve all rows where a review was written as part of the vine program
paid_df = helpful_df.loc[helpful_df["vine"] == "Y", :]
paid_df.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [46]:
# Same as above but not part of vine program
unpaid_df = helpful_df.loc[helpful_df["vine"] == "N", :]
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
9508,R23E4EIJXID5IC,5.0,43.0,43.0,N,N
10064,R1WFSWDT8L5RSJ,4.0,23.0,26.0,N,N

In [53]:
unpaid_df.count()

review_id            4469
star_rating          4469
helpful_votes        4469
total_votes          4469
vine                 4469
verified_purchase    4469
dtype: int64

In [47]:
total_reviews = vine_df.count()
five_star_review_count = (vine_df.loc[vine_df["star_rating"] == 5.0, :]).shape[0]

In [48]:
print(five_star_review_count)

1345146

In [51]:
paid_percentage = round((five_star_review_count / total_reviews * 100), 2)
paid_percentage

review_id            79.65
star_rating          79.65
helpful_votes        79.65
total_votes          79.65
vine                 79.65
verified_purchase    79.65
dtype: float64

In [59]:
unpaid_percentage = round((4469 / total_reviews * 100), 2)
unpaid_percentage

review_id            0.26
star_rating          0.26
helpful_votes        0.26
total_votes          0.26
vine                 0.26
verified_purchase    0.26
dtype: float64